---
interface Project {
    name: string;
    description: string;
    link: {
        url?: string;
        target?: string;
        title?: string;
        buttonLabel?: string;
    };
};

const projects: Project[] = [
  {
    name: 'Kafası Karışık Bir Çağın Hikâyesi',
    description: 'Yapay zeka, kültür ve güvenlik üzerine; modern çağın bocalayan insan profili.',
    link: {
      url: 'https://medium.com/@adilburaksen/kafas%C4%B1-kar%C4%B1%C5%9F%C4%B1k-bir-%C3%A7a%C4%9F%C4%B1n-hik%C3%A2yesi-yapay-zeka-k%C3%BClt%C3%BCr-ve-g%C3%BCvensizlik-%C3%BCzerine-fa07741b994b',
      buttonLabel: 'Read on Medium'
    }
  },
  {
    name: 'The Age of Insecurity',
    description: 'Human nature in a tech-driven world. People are confused in an era of productivity.',
    link: {
      url: 'https://medium.com/@adilburaksen/the-age-of-insecurity-human-nature-in-a-tech-driven-world-d1d52a7bc0fe',
      buttonLabel: 'Read on Medium'
    }
  },
  {
    name: 'How Long Has It Been?',
    description: 'A young boy’s journey into reading and writing that turned into curiosity for everything.',
    link: {
      url: 'https://medium.com/@adilburaksen/how-long-has-it-been-1f4823ba2530',
      buttonLabel: 'Read on Medium'
    }
  }
];

---

<div>

    <!-- <h2 class="text-2xl font-bold text-white mb-4">Latest Projects</h2> -->

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

        {projects.map((project) => {
  return (
    <div class="flex flex-col justify-center items-start border border-gray-700 rounded-lg p-4 bg-black">

      <h3 class="text-xl font-semibold text-white mb-2">
        {project.name}
      </h3>

      <p class="text-gray-400">
        {project.description}
      </p>

      {project.link?.url && (
        <a
          href={project.link.url}
          title={project.link.title || project.name}
          target={project.link.target || '_blank'}
          class="w-full px-4 py-2.5 mt-4 text-center border border-gray-600 rounded-lg hover:text-primary hover:border-primary"
        >
          {project.link.buttonLabel || 'Open Project Website'}
        </a>
      )}

    </div>
  );
})}

